# These files are ignored when building an image for production.
# In development the entire project dir is mounted, so e.g.
# Dockerfile.tsc will still be used.
.env
.git
.github
.gitignore
.vscode
docker-compose*
Dockerfile*
