# Django specific files
*.pyc
*.pyo
pycache/
db.sqlite3

# IDE
.vscode/

# Environment configuration
.env*

# Virtual environments
.venv/
venv/
ENV/
env/

# Node modules
node_modules/

# Logs
*.log

# Daphne and other socket-related runtime files
daphne.sock
daphne.sock.lock
