<tr id="{{ row_UUID }}">
    
    <td>
        <input name="creation_timestamps[]" value="" hidden>

        <select name="zones[]" required>
            <option value="" selected>-------</option>
            {% for choice in form.zone.field.queryset %}
            <option value="{{ choice.pk }}" {% if form.zone.value == choice.pk %}selected{% endif %}>
                {{ choice }}
            </option>
            {% endfor %}
        </select>
    </td>
    
    <td>
        <select name="marks[]" title="Mark" required>
            <option value="" selected>-------</option>
            {% for value, label in form.mark.field.choices %}
            <option value="{{ value }}" {% if form.mark.value == value %}selected{% endif %}>
                {{ label }}
            </option>
            {% endfor %}
        </select>
    </td>
    
    <td>
        <input type="checkbox" name="approvals[]" required {% if form.is_approved.value %}checked{% endif %}>
    </td>
    
    <td>
        <textarea name="customer_comments[]">{% if form.customer_comment.value %}{{form.customer_comment.value}}{% endif %}</textarea>
    </td>
    
    <td>
        <textarea name="contractor_comments[]">{% if form.contractor_comment.value %}{{form.contractor_comment.value}}{% endif %}</textarea>
    </td>
    
</tr>
