<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Конфигуратор</title>

    <link rel="stylesheet" href="{% static 'main/css/configurator.css' %}">

</head>
<body>
    <div class="container">
        <h2>Конфигуратор</h2>
        <form id="configurator-form" method="post">
            {% csrf_token %}
            
            <!-- Location Name -->
            <div class="form-group">
                <label for="location-name">Имя объекта:</label>
                <input type="text" id="location-name" name="name" placeholder="Введите имя объекта" required>
            </div>

            <!-- Mark Range -->
            <div class="form-group">
                <label for="mark-range-min">Минимальная оценка (Min):</label>
                <input type="number" id="mark-range-min" name="mark_range_min" min="0" max="100" value="0" required>
            </div>
            <div class="form-group">
                <label for="mark-range-max">Максиальная оценка (Max):</label>
                <input type="number" id="mark-range-max" name="mark_range_max" min="0" max="100" value="100" required>
            </div>

            <!-- Zones -->
            <div class="zone-list" id="zone-list">
                <h3>Зоны</h3>
                <div class="zone-item">
                    <input type="text" name="zones[]" placeholder="Введите имя зоны" required>
                    <button type="button" class="remove-zone" onclick="removeZone(this)">Удалить</button>
                </div>
            </div>
            <div class="form-group">
                <button type="button" onclick="addZone()">Добавить зону</button>
            </div>

            <!-- Submit Button -->
            <div class="form-group">
                <button type="submit">Сохранить</button>
            </div>
        </form>
    </div>

    <script src="{%static 'main/js/configurator.js' %}"></script>
</body>
</html>
