<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Configurator</title> 
</head> 
<body> 
    <div class="form-container"> 
        <h2>Создание и Настройка Локации</h2> 
        <form method="post"> 
            {% csrf_token %} 

            {{ location_form.as_p }} 
            
            <h3>Зоны</h3> 
            {{ zone_formset.management_form }} 
            {% for form in zone_formset %} 
                {{ form.as_p }} 
            {% endfor %} 
            
            <button type="submit">Сохранить</button>
        </form> 
    </div> 
</body> 
</html>