<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/fill_out.css' %}">
    <title>Форма качества уборки</title>
</head>

<body>

{% if multiple_active_users_are_present %}
<!--If there are active users, hide the default content to avoid flickering. 
    The required content will be fetched from an active user via WebSockets. (see `FillOutConsumer`). -->
{% else %}

<h1>Форма качества уборки</h1>

<form id="form-id" action="{% url 'fill_out' location %}" method="POST">
{% csrf_token %}

<input name="submission_timestamp" value="" hidden>

<table id="table-id">
    <tr>
        <th>Время</th>
        <th>Зона</th>
        <th>Оценка</th>
        <th>Утверждена</th>
        <th>Замечания</th>
        <th>Коментарии к замечаниям</th>
    </tr>

    {% for time_period, rows in groups_of_rows.items %}
        <td class="time-cell"
            rowspan="{{ rows|length|add:1 }}"
            {% if forloop.last %}
                id="last-time-cell"
                time-period-ended="true"
            {% endif %}>{{ time_period }}</td>

        {% for row in rows %}
            <tr>
                <td>{{ row.zone }}</td>
                <td>{{ row.mark }}</td>
                <td>{{ row.approval }}</td>
                <td>{{ row.customer_comment }}</td>
                <td>{{ row.contractor_comment }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    
    <tr>
        <td id="empty-cell" class="empty-cell"></td>
        <td><button type="button" onclick="sendAppendRowRequest()">+</button></td>
    </tr>
    
</table>

<button type="submit">Готово</button>
</form>


{% endif %}

<!-- NOTE: Needed by `fill_out.ts`. -->
<!-- Same as `<script id="location-name"> {{location}} </script>`. -->
{{ location | json_script:"location-name" }}

<script src="{% static 'main/js/fill_out.js' %}"></script>

</body>
</html>