<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/fill_out.css' %}">
    <title>Форма качества уборки</title>
</head>

<body>

<h1>Форма качества уборки</h1>

<table>
    <tr>
        <th>Зона</th>
        <th>Оценка</th>
        <th>Утверждена</th>
        <th>Замечания</th>
        <th>Коментарии к замечаниям</th>
    </tr>

    {% for row in rows %}
        <tr>
            <td>{{ row.zone }}</td>
            <td>{{ row.mark }}</td>
            <td>{{ row.approval }}</td>
            <td>{{ row.customer_comment }}</td>
            <td>{{ row.contractor_comment }}</td>
        </tr>
    {% endfor %}
</table>

<p>Пример таблицы:</p>

<table>
    <tr>
        <th>Время</th>
        <th>Зона</th>
        <th>Оценка</th>
        <th>Подтверждение</th>
        <th>Замечания</th>
        <th>Исправление замечания</th>
    </tr>
    <tr>
        <td rowspan="4">9:00</td>
        <td>Входная зона</td>
        <td>от 0 до 5</td>
        <td>да/нет</td>
        <td>обязательно: текст, время<br>потенциально: фото</td>
        <td>обязательно: текст, время<br>потенциально: фото</td>
    </tr>
    <tr>
        <td>туалет</td>
        <td>5</td>
        <td>да</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>фудкорт</td>
        <td>5</td>
        <td>да</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>...</td>
        <td>5</td>
        <td>да</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td rowspan="2">9:30</td>
        <td>туалет</td>
        <td>5</td>
        <td>да</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>+</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>+</td>
    </tr>

    
</table>

</body>
</html>