<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/fill_out.css' %}">
    <title>Форма качества уборки</title>
</head>

<body>

<h1>Форма качества уборки</h1>

<table id="table-id">
    <tr>
        <th>Время</th>
        <th>Зона</th>
        <th>Оценка</th>
        <th>Утверждена</th>
        <th>Замечания</th>
        <th>Коментарии к замечаниям</th>
    </tr>

    <td class="time-cell" rowspan="3">9:00 - 10:00</td>
    {% for row in rows %}
    <tr>
        <td>{{ row.zone }}</td>
        <td>{{ row.mark }}</td>
        <td>{{ row.approval }}</td>
        <td>{{ row.customer_comment }}</td>
        <td>{{ row.contractor_comment }}</td>
    </tr>
    {% endfor %}

    <td id="last-time-cell" class="time-cell" time-period-ended="false" rowspan="4">10:00</td>
    <tr>
        <td>tst</td>
        <td>adfs</td>
        <td>adfa</td>
        <td>412</td>
        <td>fads</td>
    </tr>
    <tr>
        <td>tst</td>
        <td>adfs</td>
        <td>adfa</td>
        <td>412</td>
        <td>fads</td>
    </tr>
    <tr>
        <td>Или тут?</td>
        <td>adfs</td>
        <td>adfa</td>
        <td>412</td>
        <td>fads</td>
    </tr>
    
    <tr>
        <td id="empty-cell" class="empty-cell"></td>
        <td><button type="button" onclick="sendAppendRowRequest()">+</button></td>
    </tr>
    
</table>

<button type="button" onclick="submitForms()">Готово</button>

<!-- NOTE: Needed by `fill_out.ts`. -->
<!-- Same as `<script id="location-name"> {{location}} </script>`. -->
{{ location | json_script:"location-name" }}

<script src="{% static 'main/js/fill_out.js' %}"></script>

</body>
</html>