<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'main/css/login.css' %}">
        <title>Аунтефикация</title>
    </head>
<body>
    <div class="form-container">
        <h2>Аунтефикация</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Вход</button>
        </form>
        <a href="{% url 'register' %}" class="register-button">Регистрация</a>
    </div>
</body>
</html>
 