<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/summary.css' %}">
    <title>Качество уборки</title>
</head>

<body>

<h1>Качество уборки в {{ location }}</h1>

<table>
    <tr>
        <th>Зона</th>
        <th>Средняя оценка</th>
    </tr>
    {% for zone, average in zones_average_marks.items %}
        <tr>
            <td>{{ zone }}</td>
            <td>{{ average }}</td>
        </tr>
    {% endfor %}
</table>

<p style="text-align: center;">Итого средняя: {{ total_average_mark }}</p>

</body>
</html>