<!DOCTYPE html>

<head>
    {% load static %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оценки</title>

    <link rel="stylesheet" href="{% static 'main/css/flatpickr.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/summary.css' %}">
</head>

<body>

    <div class="summary-container">
        <h2>Оценки за {{ location.name }}</h2>
        
        <div class="date-picker">
            <form method="get">
                <label for="start_date">Начало периода: </label>
                <input type="text" id="start_date" name="start_date" value="{{ start_date }}">
                <label for="end_date">Конец периода:</label>
                <input type="text" id="end_date" name="end_date" value="{{ end_date }}">
                <button type="submit">Посмотреть</button>
            </form>
        </div>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div class="results">
            {% if zones_average_marks %}
                <table>
                    <thead>
                        <tr>
                            <th>Зона</th>
                            <th>Средняя оценка</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for zone, average in zones_average_marks.items %}
                            <tr>
                                <td>{{ zone }}</td>
                                <td>{{ average|floatformat:2 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="total-average">
                    <p>Средняя оценка за все зоны: {{ total_average_mark|floatformat:2 }}</p>
                </div>
            {% else %}
                <p>Нет данных за выбранный период.</p>
            {% endif %}
        </div>
    </div>
    
    <a href="/{{ location.name }}/summary/pdf/?start_date={{ start_date }}&end_date={{ end_date }}" class="pdf-download-button">Скачать PDF файл</a>

    <div class="tables-container">
        <h2>Данные по каждой зоне за выбранный период:</h2>
        {% for date_time, rows in groups_of_rows.items %}
            {% with date_display=date_time.0 time_period=date_time.1 %}
                <h3>Дата: {{ date_display }}</h3>
                <h3>Период времени: {{ time_period }}</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Зона</th>
                            <th>Оценка</th>
                            <th>Комментарий Заказчика</th>
                            <th>Комментарий Исполнителя</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                            <tr>
                                <td>{{ row.zone }}</td>
                                <td>{{ row.mark }}</td>
                                <td>{{ row.customer_comment }}</td>
                                <td>{{ row.contractor_comment }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endwith %}
        {% endfor %}
    </div>

    <script src="{% static 'main/js/summary.js' %}"></script>
    <script src="{% static 'main/js/flatpickr.min.js' %}"></script>

</body>
</html>
